@media (width <= 767px) {
    body {
        display: flex;
        flex-basis: auto;
        flex-direction: column;
    }

    body > * {
        width: 100%;
        margin-bottom: 20px;
        height: 100%;
    }

    .style_section {
        background-color: #9EE062;
        height: 120px;
        margin-bottom: 0px;
    }

    .style_section_sec article:nth-child(1),
    .style_section_sec article:nth-child(2) {
        background-color: #FEDF6B;
        height: 200px;
        margin-top: 20px;
        width: 100%
    }

    header {
        background-color: #67B3DD;
        height: 90px;
    }

    footer {
        background-color: #FC302D;
        height: 80px;
    }
}