@media (width <= 767px) {
    body {
        display: flex;
        flex-basis: auto;
        flex-direction: column;
    }

    body > * {
        width: 100%;
        margin-bottom: 20px;
        height: 100%;
    }

    .yellow {
        background-color: #FEDF6B;
        height: 200px;
        margin-top: 20px;
        width: 100%
    }

    .style_section {
        background-color: #9EE062;
        height: 120px;
        margin-bottom: 0px;
    }

    header {
        background-color: #67B3DD;
        height: 90px;
    }

    footer {
        background-color: #FC302D;
        height: 80px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        display: flex;
        flex-basis: auto;
        flex-direction: column;
    }

    body > * {
        margin-bottom: 30px;
    }

    header {
        background-color: #67B3DD;
        height: 90px;
        align-items: left;
        width: 50%;
    }

    .style_section {
        width: 100%;
        height: 200px;
        background-color: #9EE062
    }
}
