@media (width <= 767px) {
    body {
        display: flex;
        flex-basis: auto;
        flex-direction: column;
    }

    body > * {
        width: 100%;
        margin-bottom: 20px;
        height: 100%;
    }

    .style_section {
        background-color: #9EE062;
        height: 120px;
        margin-bottom: 0px;
    }

    .style_section_sec article:nth-child(1),
    .style_section_sec article:nth-child(2) {
        background-color: #FEDF6B;
        height: 200px;
        margin-top: 20px;
        width: 100%;
    }

    header {
        background-color: #67B3DD;
        height: 90px;
    }

    footer {
        background-color: #FC302D;
        height: 80px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        display: flex;
        flex-basis: auto;
        flex-direction: column;
    }

    body > * {
        margin-bottom: 30px;
    }

    header {
        background-color: #67B3DD;
        height: 90px;
        align-items: left;
        width: 50%;
    }

    .style_section {
        width: 100%;
        height: 200px;
        background-color: #9EE062
    }

    .style_section_sec {
        display: grid;
        overflow: hidden;
    }

    .style_section_sec article:nth-child(3),
    .style_section_sec article:nth-child(4) {
        justify-content: space-between;
        padding-left: 10px;
        padding-top: 10px;
        background-color: #6B2683;
        height: 200px;
        margin-bottom: 30px;
        width: 90%;
    }
    
    .style_section_sec article:nth-child(1),
    .style_section_sec article:nth-child(2) {
        justify-content: space-between;
        padding-left: 10px;
        padding-top: 10px;
        background-color: #FEDF6B;
        height: 200px;
        margin-bottom: 30px;
        width: 90%
    }

    .style_section_sec article:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / 2;
    }

    .style_section_sec article:nth-child(2) {
        grid-column: 2;
        grid-row: 1 / 3;
    }

    .style_section_sec article:nth-child(3) {
        grid-column: 1;
        grid-row: 2 / 2;
    }

    .style_section_sec article:nth-child(4) {
        grid-column: 2;
        grid-row: 2 / 3;
    }

    footer {
        width: 100%;
        background-color: #FC302D;
        height: 90px;
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        flex-basis: auto;
        flex-direction: column;
    }

    body > * {
        margin-bottom: 30px;
    }

    header {
        background-color: #67B3DD;
        height: 90px;
        align-items: left;
        width: 50%;
    }

    footer {
        width: 100%;
        background-color: #FC302D;
        height: 90px;
    }

    .style_section {
        width: 100%;
        height: 200px;
        background-color: #9EE062
    }

    .style_section_sec {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }

    .style_section_sec > * {
        height: 200px;
        margin-bottom: 30px;
        flex: 1 1 250px;
        margin-right: 30px;
    }
    
    .style_section_sec article:nth-child(1),
    .style_section_sec article:nth-child(2) {
        background-color: #FEDF6B;
    }

    .style_section_sec article:nth-child(3),
    .style_section_sec article:nth-child(4) {
        background-color: #6B2683;
    }
    
    .style_section_sec article:nth-child(5),
    .style_section_sec article:nth-child(6) {
        background-color: #F03DB5;
    }
}
