@media (width <= 767px) {
    body {
        display: flex;
        flex-basis: auto;
        flex-direction: column;
    }

    body > * {
        width: 100%;
        margin-bottom: 20px;
        height: 100%;
    }

    .style_section {
        background-color: #9EE062;
        height: 120px;
        margin-bottom: 0px;
    }

    .style_section_sec article:nth-child(1),
    .style_section_sec article:nth-child(2) {
        background-color: #FEDF6B;
        height: 200px;
        margin-top: 20px;
        width: 100%;
    }

    header {
        background-color: #67B3DD;
        height: 90px;
    }

    footer {
        background-color: #FC302D;
        height: 80px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        display: flex;
        flex-basis: auto;
        flex-direction: column;
    }

    body > * {
        margin-bottom: 30px;
    }

    header {
        background-color: #67B3DD;
        height: 90px;
        align-items: left;
        width: 50%;
    }

    .style_section {
        width: 100%;
        height: 200px;
        background-color: #9EE062
    }

    .style_section_sec article:nth-child(3),
    .style_section_sec article:nth-child(4) {
        display: flex;
        flex-direction: row;
        flex-basis: auto;
        justify-content: space-between;
        padding-left: 10px;
        padding-top: 10px;
        background-color: #6B2683;
        height: 200px;
        margin-bottom: 30px;
    }

    .style_section_sec {
        display: flex;
        flex-basis: auto;
        flex-direction: row;
    }

    .style_section_sec article:nth-child(1),
    .style_section_sec article:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10px;
        padding-top: 10px;
        background-color: #FEDF6B;
        height: 200px;
        margin-bottom: 30px;
    }

    footer {
        width: 100%;
        background-color: #FC302D;
        height: 90px;
    }
}

/*body {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
}

body > * {
    margin-bottom: 30px;
}

header {
    background-color: #67B3DD;
    height: 90px;
    align-items: left;
    width: 50%;
}

footer {
    background-color: #FC302D;
    width: 100%;
    height: 100px;
}

.style_section {
    width: 100%;
    background-color: #9EE062;
    height:200px;
}

.style_section_sec article:nth-child(1),
.style_section_sec article:nth-child(2) {
    display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10px;
        padding-top: 10px;
        background-color: #FEDF6B;
        height: 200px;
        margin-bottom: 30px;
}
        */

